body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

#armatupc {
    border: 1px solid black;
    padding: 20px;
    background-color: rgba(224, 224, 224, 0.514); /* Fondo semitransparente para darle un toque moderno */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para destacar el panel */
    width: 40%;
    
   
}



#armatupc ul {
    list-style-type: none; 
    padding: 0;
    margin: 20px 0; 
}




#armatupc select {
    width: 100%; 
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

#armatupc button {
    background-color: #00fff2; 
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%; 
    
}

